/*-- scss:defaults --*/


/*-- scss:rules --*/

.reveal code { font-size: 87%;}
.reveal a { color: #293462;}
.reveal h2 { color: #820000;}

// 一级标题下注释
.reveal .yinyan { color: #42855B;}

// 着重突出，还缺少居中和加粗
.reveal .qiangdiao {
  color: #EB1D36;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}
